.list__item .list__input{
    display:none;
}

.list__item .list__content{
    display:inline-block;
}

.list__item.list__item--edit .list__input{
    display:inline-block;
}

.list__item.list__item--edit .list__content{
    display:none;
}



@media(min-width:1024px){
    .list__input,
    .list__content{
        width: 30vw;
    }
}